LIST/NLST arguments

According to RFC959, it should be possible to specify a directory when listing using NLST or LIST. It would seem they are both implemented in a way that would allow specifying masks (which has no backing the the RFC at all, as far as I can see), but ignores the *path*. 

It is my understanding that FtpServer implements these commands incorrectly.

It's a bug if it ignores the path, but a ... flexible interpretation of the LIST/NLST arguments seems useful when I see what kind of FTP clients are out in the wild...

I think it depends entirely on the command, though.

A more flexible interpretation of the LIST command is probably a great idea, as long as it adheres to the basic requirements of resolving paths.

However, Section 2.2.2 of RFC3659 (which is an extension to the earlier RFC) seem to explicitly forbid wildcarding the MLSD and MLST commands.

You can ignore my previous comment, it would seem the M* commands are probably handled :)

Fixed in 1.3.1:

- `LIST` now supports options and respects the given path
- `MLST` returns data using the connection stream
- `LIST` hides files and directories starting with a dot (except `.` and `..`)
- Several fixes regarding relative paths

`LIST` supports wildcards, but this is just a side effect, because `LIST` must support paths to file names.